---
import Card from "./Card/Card.astro"

---
<Card colSpan="md:col-span-1" rowSpan="md:row-span-7" title="Acerca de Mi">
    <div class="flex flex-col gap-2">
      <p class="text-sm font-light">
        Egresado de Instituto Profesional Aiep, como programador el año 2011, y como Ingeniero de Informática el año 2013.
        <br />
        Poseo conocimiento en:
        <ul class="list-disc list-inside">
          <li>JavaScript</li>
          <li>HTML y CSS</li>
        </ul>
      </p>
      <p class="text-sm font-light">
        Participe del programa One, next generation, impartido por Oracle y Alula Latam, desde el 2022 al 2023. Hasta la fecha he estado adquiriendo mas conocimiento, para actualizar mis habilidades de Frontend, y es por eso que me encuentro aprendiendo:
        <br>
        <ul class="list-disc list-inside">
          <li>React js</li>
          <li>Next js</li>
          <li>Tailwind CSS</li>
          <li>Astro</li>
        </ul>
      </p>
    </div>
  </Card>