---
import Card from "./Card/Card.astro";
---
<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="Contactame">
  <div class="flex">
    <div class="items-center">
      <p>salazar.germandiego@gmail.com</p>
      <p>Chile</p>
    </div>
  </div>
</Card>  